html,
body {
  min-height: 100%;
}
.Container{
  margin:20px;
}
body {
  margin:0;
  padding:0px;
  background-color: aliceblue;
}

.Title {
  display:flex;
  justify-content: center;
}

.Navbar{
  padding:20px;
  display:flex;
  justify-content: space-around;
}
h3{
  margin: 20px;
}
.cards {
  display: flex;
  flex-direction: column;
}
.Github{
   display:flex;
   justify-content: center;
}
.Project-Area {
  display:flex;
  justify-content: center;
}